{{ define "index.tmpl" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index htlm document</title>
</head>
<body>
    <h1>This is the index page</h1>
    <form action="/oauth/github/login" method="post">
        <input type="submit" value="login wiht github">
    </form>
    <h2>your Name is:  {{ .name }}</h2>
    <h2>your email is:  {{ .email }}</h2>
</body>
</html>
{{ end }}